body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('../img/tic-tac-toe-bg.jpg');
    background-size: cover;
   
}
button:disabled{
    cursor: not-allowed;
}
h1 {
    text-align: center;
}
.wrapper{
    display: flex;
    flex-flow: row wrap;
}
.board__wrapper {
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 50%;
   .panel{
        height: 50px;
        font-size: 36px;
        font-weight: 600;
        margin-top: 30px;
        // border: 2px solid yellow;
        width: 330px;
        color: red;
        text-align: center;
        margin-bottom: 5px;
        animation: color 1s infinite;
    }

    @keyframes color{
        0%{
            // color: white;
            opacity: 1;
        }
        // 50%{
        //     opacity: 0.5;
        // }
        100%{
            opacity: 0;
            // color:red;
        }
 
    }
    .board {
        display: grid;
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
        grid-gap: 10px;
        border: 2px solid black;
        border-radius: 5px;
        padding: 20px;
        background: white;
        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 48px;
            background-color: #d3d3d3;
            border: 1px solid black;
            cursor: pointer;
            transition: all 0.75s;
            border-radius: 5px;
            color: #ffffff;
            text-shadow: 4px 4px 4px #000000;
            &:hover {
                background-color: #808080;
            }
        }
    }
    .reset{
        width: 330px;
        height: 50px;
        margin-top: 20px;
        border-radius: 5px;
        cursor: pointer;
        background-color: #d3d3d3;
        transition: all 0.75s;
        border: 1px solid #000000;
        font-weight: 600;
        font-size: 28px;
        color: #ffffff;
        text-shadow: 4px 4px 4px #000000;
        &:hover{
            background-color: #808080;
        }
    }
}

.btn{
    padding: 10px 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.75s;
    &:hover{
        background-color: grey;
    }
}